rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function currentUser() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      return signedIn()
        && currentUser().role == 'admin';
    }

    match /doctors/{doctorId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /specialty/{specialtyId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow read: if isAdmin() || (signedIn() && request.auth.uid == userId);

      allow create: if signedIn()
        && request.auth.uid == userId
        && request.resource.data.role == 'patient'
        && request.resource.data.keys().hasOnly([
          'displayName',
          'email',
          'role',
          'createdAt',
          'updatedAt'
        ]);

      allow update: if isAdmin()
        || (
          signedIn()
          && request.auth.uid == userId
          && resource.data.role == 'patient'
          && request.resource.data.role == 'patient'
          && request.resource.data.keys().hasOnly([
            'displayName',
            'email',
            'role',
            'createdAt',
            'updatedAt'
          ])
        );

      allow delete: if isAdmin();
    }
  }
}
